div
    form(action='/edit/' + editUser._id method='post')
        input(type='text', name='first', value=editUser.first)
        input(type='text', name='last', value=editUser.last)
        input(type='email', name='email', value=editUser.email)
        input(type='number', name='age', value=editUser.age)
        input(type='submit', value='Submit Changes')

br

a(href='/') Back to homepage
a(href='/users') See all users
